/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    color: white;
}


.button {
  background-color: none;
  border: none;
  color: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}


#cards {
  text-align: center;
  display: grid;
  align-items: center;
  width: 90%;

}

#cards {
  align-self: center;
  align-items: center;
  text-align: center;

  display: grid;
  grid: auto / auto auto auto;
  place-items: center;
  width: 90%;
  
}

#card_block {
  text-align: center;
  place-items: center;
  
}


#reversed {
  transform: rotate(180deg);
}

#upright {
  transform: rotate(0deg);
}


.center {

  margin: auto;
  width: 90%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
}

.column {
  margin: auto;
  width: 80%;
  align-self: center;
}

body {
  background-color: rgb(28, 28, 28);
  display: grid;
  place-items: center;
}