/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    color: white;
}


.button {
  background-color: none;
  border: none;
  color: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}


#cards {
  text-align: center;
  display: grid;
  align-items: center;
  width: 90%;

}

#cards {
  align-self: center;
  align-items: center;
  text-align: center;

  display: grid;
  grid: auto / auto auto auto;
  place-items: center;
  width: 90%;
  
}

#card_block {
  text-align: center;
  place-items: center;
  
}


#card_beeBlock {
    position: relative;
    width: 300px;
    height: 507px;
}

#card_beeImage {
    position: absolute;
    left: 0;
    top: 0;
}

#card_beeLetters {

    text-transform: capitalize;

    font-size: 100;
    font-weight: 500;
    color: #ffffff;

    position: absolute;
    z-index: 100;

    align-self: center;
    width:100%;
    top: 55%;
}

#reversed {
  transform: rotate(180deg);
}

#upright {
  transform: rotate(0deg);
}


.center {

  margin: auto;
  width: 90%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
}

.column {
  margin: auto;
  width: 80%;
  align-self: center;
}

body {
  background-color: rgb(28, 28, 28);
  display: grid;
  place-items: center;
}

.card{
    color: (0,0,0,0);
    transform: "color()"
}


span {
  display: inline-block;
  margin: 40px;
}

.flipH {
  transform: scale(-1, 1);
  color: #1c87c9;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}